@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
  }

  .dark {
    --background: #000000;
    --foreground: #ededed;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
